@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model Recon_Model.user_model

<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .k-grid-pager {
            height: 30px !important;
        }

        .k-footer {
            margin-top: 10px;
        }



        .k-state-default {
            margin-top: -24px;
        }

        .k-header.k-grid-toolbar.k-grid-top {
            background: none;
        }

        .k-button.k-button-icontext.k-grid-add {
            background: green;
            color: white;
        }
    </style>
    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-grouping-header {
            color: #ffffff;
        }

        .k-grid-filter.k-state-active {
            background-color: rgb(51, 122, 183);
        }

        .k-state-active {
            display: block;
        }

        .k-webkit {
            overflow: hidden !important;
        }

        .kendostyle .k-dropdown-wrap k-state-default {
            margin-left: 12px !important;
            width: 85% !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="padding:10px">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">User Creation</h3>
                        </div>
                        @using (Html.BeginForm("Admin", "User", FormMethod.Post, new { @id = "form1" }))
                        {
                            <div>
                                @(Html.Kendo().Grid<Recon_Model.user_model>().Name("usergrid")
                                .HtmlAttributes(new { style = "height:450px;font-weight:normal" })
                                .ToolBar(toolbar => toolbar.Create().Text(""))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.user_gid).Title("userig").Width(5).Hidden();
                                    columns.Bound(m => m.sno).Title("Slno").Width(50).Hidden();
                                    columns.Bound(m => m.user_code).Title("User Code").Width(80);
                                    columns.Bound(m => m.user_name).Title("User Name").Width(80);
                                    columns.Bound(m => m.user_address).Title("User Address").Width(100);
                                    columns.Bound(m => m.user_contact_no).Title("Contact No").Width(80);
                                    columns.Bound(m => m.active_status_desc).Title("Status").Width(50);
                                    columns.Command(cmd =>
                                    {
                                        cmd.Edit().Text("<span class='fa fa-pencil' style='color:#357ab8;font-size: 12px;'>");
                                        cmd.Custom("View").Text("<span class='fa fa-eye' style='color:#357ab8;font-size: 12px;'>").Click("ViewMode");
                                    }).Title("Action").Width(30);
                                })
                            .Editable(editable =>
                             { editable.Mode(GridEditMode.PopUp).TemplateName("usergridpop"); })
                             .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                             .Filterable()
                             .Sortable()
                             .Scrollable()
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                             .PageSize(10)
                             .Events(events => events.Error("error_handler"))
                             .Model(model => model.Id(p => p.user_gid))
                             .Create(Create => Create.Action("usergridGrid_Save", "Admin").Data("getid"))
                             .Read(read => read.Action("usergridGrid_Read", "Admin"))
                             .Update(update => update.Action("usergridGrid_Save", "Admin").Data("getid"))
                             ))
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<script type="text/javascript">
    var preventCloseOnSave = false;
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'Impact',
                content: message,
                type: 'red',
            });
        }
    }


    (function ($) {
        var MultiSelectBox = window.kendo.ui.DropDownList.extend({
            _select: function (li) { },//Prevents highlighting
            _blur: function () { },//Prevents auto close
        });

        // window.kendo.ui.plugin(MultiSelectBox);

    })(jQuery);


    function onSelect(e) {
        debugger;

        var cbs = document.getElementsByName("dropdowncheck");
        var checkboxes = document.getElementsByTagName('input');
        var ddl = $("#ReconName_id").data("kendoDropDownList");
        // var id = ddl.element.attr("ReconName_id");
        multiselect();
        var item = e.item;
        var index = item.index();
        if (index == 0) {
            for (var i = 1; i < cbs.length; i++) {
                var selectAll = cbs[0].checked;
                if (cbs[0].checked) {
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].type == 'checkbox') {
                            checkboxes[i].checked = true;
                        }
                    }
                    multiselect();
                }

                else {
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].type == 'checkbox') {
                            checkboxes[i].checked = false;
                        }
                    }
                    multiselect();
                }
            }
        }

    }

    function getid() {
        debugger;
        var Attribid = [];
        var arrstring = "";
        var Config_MetricType = $("#ReconName_id").data("kendoDropDownList");
        var reconarray = Config_MetricType.dataSource.data();
        var cbs = document.getElementsByName("dropdowncheck");

        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].checked) {
                var item = reconarray[i].ReconName_id;
                Attribid.push(item);
            }

        }
        arrstring = Attribid.join(", ");

        if (arrstring == "") {
            arrstring = -1;
        }

        return { Recongid: arrstring }
    }

    function multiselect() {
        debugger;
        // var dataItem = this.dataItem(e.item);
        var ddl = $("#ReconName_id").data("kendoDropDownList");
        var isAllChecked = $('#cb').prop("checked");
        var cbs = document.getElementsByName("dropdowncheck");
        var display;

        var list = [];
        for (var i = 1; i < cbs.length; i++) {
            if (cbs[i].checked) {
                list.push(cbs[i].value);
            }

        }


        if (list.length == 0) {
            display = "-- Select --";
        }
        else {

            display = list.join(", ");
        }


        ddl.text(display);
    }

    $(document).ready(function () {

        debugger;

        $("#usergrid").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#usergrid").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind('dataBound', function (e) {
            this.element.find('.k-edit').remove();
        })
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit").append('<button id="btnMoveMe"  onclick="closepop()" style="margin-left:92%;border:none;background-color:#357ab8;cursor:pointer;color:white;">x</button>');
            var editWindow1 = this.editable.element.data("kendoWindow");
            editWindow1.unbind("close");
            editWindow1.bind("close", onWindowEditClose);
            filetype();
            var usercode = event.model["user_code"];
            window.setTimeout(function () {
                kendocheckboxbinding(usercode);
            }, 1000);


            if (event.model.isNew()) {
                $("#user_code").attr('disabled', false);
            } else {
                $("#user_code").attr('disabled', true);
            }
        });
        kendodate_format();
    });
    var onWindowEditClose = function (e) {
        debugger;
        if (preventCloseOnSave) {
            e.preventDefault();
            preventCloseOnSave = false;
        }
        else {
            debugger;
            $("#usergrid").data("kendoGrid").dataSource.read();
        }
    };

    function closepop() {
        debugger;
        $("#usergrid").data("kendoGrid").dataSource.read();
    }

    function kendocheckboxbinding(usercode) {
        debugger;
        var user_code = usercode;
        var dropodwn_list = $("#ReconName_id").data("kendoDropDownList");

        var checkboxes = document.getElementsByTagName('input');
        $.ajax({
            type: "POST",
            url: '@Url.Action("getuserrecon_usercode", "Admin")',
            dataType: "json",
            // cache:false,
            data: '{usercode:"' + user_code + '"}',
            contentType: 'application/json; charset=utf-8',
            success: function (Data1) {
                debugger;
                var Config_MetricType = $("#ReconName_id").data("kendoDropDownList");
                var reconarray = Config_MetricType.dataSource.data();
                for (var i = 0; i < Data1.length; i++) {
                    if (Data1[i].ReconName_id != '0') {

                        $("#" + Data1[i].ReconName_id).prop('checked', true);

                    }

                }
            }
        });

    }
    function onRequestEnd(e) {
        //Check request type
        debugger;
        if (e.type == "create") {
            //check for errors in the response
            if (e.response[1] > 0) {
                $.dialog({
                    title: 'Impact',
                    content: e.response[0],
                    type: 'green',
                });
                setTimeout(function () {
                    window.location.reload(1);
                }, 2000);

            }
            else {
                $.dialog({
                    content: e.response[0],
                    type: 'green',
                });
                preventCloseOnSave = true;
            }
        }
        if (e.type == "update") {
            //check for errors in the response
            if (e.response[1] > 0) {
                $.dialog({
                    title: 'Impact',
                    content: e.response[0],
                    type: 'green',
                });
                setTimeout(function () {
                    window.location.reload(1);
                }, 2000);

            }
            else {
                $.dialog({
                    content: e.response[0],
                    type: 'green',
                });
                preventCloseOnSave = true;
            }
        }
    }
    function account_name1() {
        var code = $("#account1_desc").val();
        debugger;
        $.ajax({
            type: "POST",
            data: '{code: "' + code + '"}',
            url: '@Url.Action("AccName", "ReconSetup")',
            //url: "/ReconSetup/AccName",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#accname").val(response).trigger("change");
                $("#acc1").show();
            },
            error: function (er) {
            }
        });
    }
    function account_name2() {
        var code = $("#account2_desc").val();
        debugger;
        $.ajax({
            type: "POST",
            data: '{code: "' + code + '"}',
            // url: "/ReconSetup/AccName",
            url: '@Url.Action("AccName", "ReconSetup")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var fieldtype = response;
                $("#accname2").val(response).trigger("change");
                $("#acc2").show();
            },
            error: function (er) {
            }
        });
    }
    function filetype() {
        var val = $("input[name='MappingType_code']:checked").val();
        debugger;
        if (val == "P") {
            $("#acc2drop").hide();

        } else {
            $("#acc2drop").show();
        }
    }
    function ViewMode(e) {
        debugger;
        var grid = this,

        selectedRow = $(e.target).closest("tr")[0];
        grid.editRow(selectedRow);
        $(".k-grid-update").hide();
        $(".k-window-title").text("View").append('<button id="btnMoveMe"  onclick="closepop()" style="margin-left:91%;border:none;background-color:#357ab8;cursor:pointer;color:white;">x</button>');

    }
</script>

