@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.Resources;
@model Recon_Model.ApplyRule_model

<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .k-header.k-grid-toolbar.k-grid-top {
            background: none;
        }
         .k-button.k-button-icontext.k-grid-add {
            background: green;
            color: white;
        }

         

       .k-pager-sizes{
             display: inline-flex !important;
            margin-left: 0% !important;
            margin-top: -4% !important;
            width: 24% !important;
         }
     
        
    </style>
    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }
        span.k-link {
            color: #fff !important;
            position: relative;            
        }
        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
    }
          .k-webkit {
            overflow: hidden !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:auto;padding-bottom:20px;">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Rule Setup</h3>
                        </div>

                        @using (Html.BeginForm("RuleDefinitionList", "RuleDefinition", FormMethod.Post, new { @id = "form1" }))
                        {
                            <div style="padding-left:20px;padding-right:20px">
                                <a class="k-button k-button-icontext k-grid-add" href="../RuleDefinition/RuleDefinition"><span class="k-icon k-add"></span></a>
                                @(Html.Kendo().Grid<Recon_Model.DedupeRule_model>().Name("Rulelist_grid")
                                .HtmlAttributes(new { style = "width:100%; height:420px;line-height:2em;font-weight:normal" })
                                //.ToolBar(toolbar => toolbar.Create().Text("Add New "))
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.Rule_name).Title("Rule").Width(50);
                                    columns.Bound(m => m.insertdate).Title("Created Date").Width(20);
                                    columns.Bound(m => m.updatedate).Title("Last UpdatedDate").Width(20);
                                    columns.Bound(m => m.status).Title("Status").Width(10);
                                    columns.Command(command => {
                                        command.Custom("Edit").Text("<span class='fa fa-pencil' style='color:#357ab8;font-size: 12px;'>").Click("editDetails");
                                        command.Custom("View").Text("<span class='fa fa-eye' style='color:#357ab8;font-size: 12px;'>").Click("viewDetails");
                                        command.Custom("Delete").Text("<span class='fa fa-trash' style='color:#357ab8;font-size: 12px;'>").Click("myDeleteJs"); ;
                                    }).Title("Action").Width(10);
                                    //columns.Command(command => command.Custom("Edit").Text("<span class='k-icon k-edit'></span>")).Title("Action").Width(120);                                    
                                    /*columns.Command(command =>
                                    {
                                        command.Edit().UpdateText("Save my Changes").CancelText("Cancel all").Text("");
                                    }).Title("Action").Width(120);*/                                    
                                })
                            .Editable(editable =>
                             { editable.Mode(GridEditMode.PopUp).TemplateName("ApplyRuleView"); })
                             .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                            .Filterable()
                             .Sortable()
                             .Scrollable()
                             .Resizable(resize => resize.Columns(true))
                             .DataSource(dataSource => dataSource
                             .Ajax()
                             .PageSize(20)

                                 //.Events(events => events.Error("error_handler"))
                             .Model(model => model.Id(p => p.slno))
                             .Create(Create => Create.Action("SaveEmployee", "ApplyRule"))
                             .Read(read => read.Action("RuleList", "RuleDefinition"))
                             .Update(update => update.Action("EmployeeGrid_Update", "EmployeeMaster"))
                             ))
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'Impact',
                content: message,
                type: 'red',
            });
        }
    }

    function grid_dataBound(e) {
        debugger;
        //$(".k-grid-Edit").find("span").addClass("k-icon k-edit");
    }
    $(document).ready(function () {
        debugger;
        //$(".k-grid-Edit").find("span").addClass("k-icon k-edit");
        $("#tabs1").tabs();
        $("#Rulelist_grid").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);

        var grid = $("#Rulelist_grid").data("kendoGrid");
        grid.bind("dataBound", grid_dataBound);
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });


    });
    function editDetails(e) {
        debugger
        var dataItem = this.dataItem($(e.target).closest("tr"));
        var id = dataItem.slno;
        location.href = "@Url.Action("", "RuleDefinition/RuleDefinition")?Id=" + id
    }
    function viewDetails(e) {
        debugger;
        var dataItem = this.dataItem($(e.target).closest("tr"));
        var id = dataItem.slno;
        location.href = "@Url.Action("", "RuleDefinition/RuleDefinition")?Id=?View=" + id
    }
    function onRequestEnd(e) {

        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'Impact',
                    content: 'Employee has been created successfully!',
                    type: 'green',
                });
                setTimeout(function () {

                    window.location.reload(1);
                }, 2000);

            }
        }
        if (e.type == "update") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'Impact',
                    content: 'Employee has been Edited successfully!',
                    type: 'green',
                })
                setTimeout(function () {

                    window.location.reload(1);
                }, 2000);
            }
        }
    }

    function myDeleteJs() {
        var grid = $("#Rulelist_grid").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var slno = (model.slno);
        $.confirm({
            icon: 'fa fa-warning',
            title: 'Impact',
            autoClose: 'cancel|10000',
            animationSpeed: 700,
            content: 'Are you sure to delete ?',
            type: 'red',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("Rule_Delete", "RuleDefinition")',
                        data: "{ slno:'" + slno + "'}",
                        success: function (response) {
                            if (response[1] > 0) {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'Impact',
                                    content: response[0],
                                    type: 'blue',
                                    animationSpeed: 700,
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 2000);

                            }
                            else {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'Impact',
                                    content: response[0],
                                    type: 'blue',
                                    animationSpeed: 700,
                                });
                                preventCloseOnSave = true;
                            }
                        },
                    });
                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'Impact',
                        content: 'Delete cancelled !',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>



